<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>PSGCAS Placement Cell</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href=" {{ url_for('static',  filename='css/bootstrap.min.css') }}">
      <!-- style css -->
      <link rel="stylesheet" href="{{ url_for('static',     filename='css/style.css') }}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{{ url_for('static',  filename='css/responsive.css') }}">
      <!-- fevicon -->
      <link rel="icon" href="{{ url_for('static',  filename='images/fevicon.png') }}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{{ url_for('static',  filename='css/jquery.mCustomScrollbar.min.css') }}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout about_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="{{ url_for('static',  filename='images/loading.gif') }}" alt="#" /></div>
      </div>
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                     <div class="full">
                        <div class="logo">
                           <a href="index.html"><img src="{{ url_for('static',  filename='images/psglogo.png') }}" alt="#" /></a>
                        </div>
                     </div>
                  </div>
                  <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{{ url_for( 'success') }}">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for( 'contact') }}">Contact Us</a>
                              </li>
                           </ul>
                        </div>
                     </nav>
                     
                  </div>
               </div>
            </div>
         </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
      <div class="blue_bg">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2> PSGCAS Placement Cell </h2>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- about section -->
      <div id="about" class="about">
         <div class="container">
            <div class="row">
               <div class="col-md-10 offset-md-1">
                  <div class="titlepage" style="overflow-x: auto;">
                     <form action="hello">
                        <p>Student Profile</p>
                        <table>
                           <tr>
                              <td><label for="name">Name:</label></td>
                              <td><input type="text" name="stu_name"></td>
                           </tr>
                           <tr>
                              <td><label for="roll_no">Register Number:</label></td>
                              <td><input type="text" name="roll_no"></td>
                           </tr>
                           <tr>
                              <td><label for="name">Department:</label></td>
                              <td><select id="dept" name="dept">
                                 <option value="default" selected>Choose your Department</option>
                                    <option value="it">Department of Information Technology</option>
                                    <option value="ct">Department of Computer Technology</option>
                                    <option value="vc">Department of Visual Communications</option>
                                    <option value="tam">Department of Tamil</option>
                                    <option value="eng">Department of English</option>
                                    <option value="cs">Department of Computer Science</option>
                                    <option value="ca">Department of Computer Applications</option>
                                    </select>
                              </td>
                           </tr>
                           <tr>
                              <td><label for="course">Are You :</label></td>
                              <td>
                                 <select id="course" name="course">
                                    <option value="ug">UG</option>
                                    <option value="pg">PG</option>
                                 </select>
                              </td>
                           </tr>
                           <tr>
                              <td><label for="roll_no">Year:</label></td>
                              <td><select id="year" name="year">
                                 <option value="1" selected>Choose your Current Year</option>
                                 <option value="1">First Year</option>
                                 <option value="2">Second Year</option>
                                 <option value="3">Third Year</option>
                                 <option value="4">Forth Year</option>
                                 <option value="5">Fifth Year</option>
                                 </select>
                              </td>
                           </tr>
                        </table>
                        <br><br>
                        <input type="button" value="Proceed" onclick="window.location.href='{{ url_for( 'hello') }}';">
                     <br><br>
                     </form>
                  </div>
               </div>
               
            </div>
         </div>
      </div>
      <!-- about section -->
      <!--  footer -->
   </br>
</br>

      <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <p id="cell">Product of PSGCAS Placement Cell</p>
                        <p>© 2022 All Rights Reserved. Design by<a href="https://www.instagram.com/__im.prince_v__/"> Mr.V</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="{{ url_for('static',  filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static',  filename='js/popper.min.js ') }}"></script>
      <script src="{{ url_for('static',  filename='js/bootstrap.bundle.min.js') }}"></script>
      <script src="{{ url_for('static',  filename='js/jquery-3.0.0.min.js') }}"></script>
      <!-- sidebar -->
      <script src="{{ url_for('static',  filename='js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
      <script src="{{ url_for('static',  filename='js/custom.js ') }}"></script>
      <script>
         function openNav() {
           document.getElementById("mySidepanel").style.width = "250px";
         }
         
         function closeNav() {
           document.getElementById("mySidepanel").style.width = "0";
         }
      </script>
   </body>
</html>

